.logo{
    width : 150px;
    height : 150px;
}

 body {
      background-color: #f8f9fa;
    }

    .sidebar {
      width: 80px;
      background-color: #343a40;
      min-height: 100vh;
    }

    .sidebar .nav-link {
      color: #fff;
      text-align: center;
      padding: 1.5rem 0;
    }

    .sidebar .nav-link:hover {
      background-color: #495057;
    }

    .topbar {
      height: 60px;
      border-bottom: 1px solid #dee2e6;
      background-color: white;
    }

    .content {
      padding: 2rem;
    }
